
tr,td{
    text-align: center
}


table, tr, td{
    border: 0px
}

.smalltables{
    background-color: white;
    border-collapse: separate;
    border-spacing: 1em 0.5em;
    border: transparent;
    margin-bottom: 20px;
    padding-bottom: 30px;
}

div{
    margin: 10em
}