@import url('https://fonts.googleapis.com/css?family=Patua+One');

tr,td{
    text-align: center
}

table, tr, td{
    border: 0px
}

a{
    color: transparent;
}

.generalTable{
    border: "1";
    height: "80%"; 
    width: "50%";
}

.smalltables{
    background-color: white;
    border-collapse: separate;
    border-spacing: 1em 0.5em;
    border: transparent;
    margin-bottom: 20px;
    padding-bottom: 30px;
}

body{
    background-image: url('../index_images/newspapers.jpg');
}
h1{
    font-family: 'Patua One';
}

